<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지옥철</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
                <img class="logo" src="img/planB(edited).png" alt="logo">
        </div>

        <div class="main">
            <div class="namebox">
                <h1 class="name">1호선</h1>
            </div>
            <div class="imgbox">
                <img class="one" src="img/1subline(big).png" alt="">
            </div>
            <h1 class="connectbtn">connect</h1>
        </div>
    </div>
</body>
</html>